*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main_box{
    width:100%;
    height: 100vh;
    background: url(./photo.jpg);
    background-size: cover;
    background-position: center;
}

#check{
    display: none;
}

.btn_one i{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 16px;
    top: 16px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transition: all 0.5s linear;
}

.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 270px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s linear;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top:80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i,a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding: 8px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 20px;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}

.btn_one i:hover{
    transform: scale(1.2);
}

.sidebar_menu .btn_two i:hover{
    transform: scale(1.2);
}

.sidebar_menu .social_media i:hover{
    transform: scale(1.2);
    opacity: 1;
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    display: none;
}
